h6, h5, h2 {
    font-family:times;
}

p {
    font-size: 18px;
}

p, h4, h3, h1 {
    font-family:georgia;
}

h3 {
    font-size:18px
}

#rightfloat {
    float:right;
}

#leftfloat {
    float:left;
}

.full-width {
    width: 100%;
    background: #111;
}

.wrap {
     width: 100%;
     max-width: 24em;
     margin: 0 auto;
     padding: 1.25em 0.625em;
}


/* style of all the contact */
* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #222222;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #444;
}


.container {
  border-radius: 5px;
  padding: 10px;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* end style of contact page */

img {
    height:46px;
}

body {
    background-color:#7da3a1;
    color:555;
}

 .Center {
   margin-left: auto;
   width:61%;
   font-size: 20px;
   font-weight: bolder;
   color: #FFF;
}

.Center2 {
    text-align:center;
}

.Center3 {
    margin: auto;
    width:8%;
    border:3px solid #FFF;
    padding:10px;
}

.Center3 {
    margin: auto;
    width:10%;
    border:3px solid #FFF;
    padding:10px;
}

.Center4 {
    margin: auto;
    width:34%;
    border:14px solid #FFF;
    padding:10px;
    font-size: 75px;
}

.SuperClass {
    margin-left: auto;
    width:72%;
    font-size: 50px;
    font-weight: bolder;
    color: #FFF;
}

.pstyle {
    margin:auto;
    width:60%;
    color:000;
    font-size:20px;
    font-weight:500;
}

img.alert {
  height:300px;
}
