h6, h5, h2 {
    font-family:times;
}

p {
    font-size: 18px;
}

p, h4, h3, h1 {
    font-family:georgia;
}

h3 {
    font-size:18px
}

#rightfloat {
    float:right;
}

#leftfloat {
    float:left;
}

.full-width {
    width: 100%;
    background: #111;
}

.wrap {
     width: 100%;
     max-width: 24em;
     margin: 0 auto;
     padding: 1.25em 0.625em;
}
/* navbar */
ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
}

li.li {
     float: left;
     font-family:Comic-Sans;
}

li a {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

li a:hover {
     background-color: #111;
     border-bottom:solid 5px;
}
/* navbar end */
img {
    height:46px;
}

body {
    background-color:#DDD;
    color:555;
}

 .Center {
   margin: auto;
   width: 7%;
   border: 3px solid #222;
   padding: 10px;
}

.Center2 {
    text-align:center;
}

.Center3 {
    margin: auto;
    width:8%;
    border:3px solid #222;
    padding:10px;
}

.Center3 {
    margin: auto;
    width:10%;
    border:3px solid #222;
    padding:10px;
}


div#div12 {
    position:relative;
    width:100px;
    height:100px;
    background-color:red;
    font-weight:bold;
    animation: mymove 5s 1;
}

#div12 {animation-timing-function: ease-out;}

@keyframes mymove {
   from {left:0px;}
   to {left:1300px;}
}

/* style of all the contact */
* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #222222;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* end style of contact page */

img.alert {
  height:300px;
}
