h6, h5, h2 {
    font-family:times;
}

p {
    font-size: 18px;
}

p, h4, h3, h1 {
    font-family:georgia;
}

h3 {
    font-size:18px
}

#rightfloat {
    float:right;
}

#leftfloat {
    float:left;
}

.full-width {
    width: 100%;
    background: #111;
}

.wrap {
     width: 100%;
     max-width: 24em;
     margin: 0 auto;
     padding: 1.25em 0.625em;
}


/* style of all the contact */
* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #222222;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #444;
}


.container {
  border-radius: 5px;
  padding: 10px;
  width:110%;
}


.column {
  float:left;
  width: 50%;
  margin-top: 20px;
  margin-left: 300px;
  padding: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* end style of contact page */

img {
    height:46px;
}

body {
    background-color:#FFF;
    color:555;
}

 .Center {
   margin-left: auto;
   width:35%;
   font-size: 40px;
   font-weight: 700;
   color: #000;
   font-family: tahoma;
}

 .specials {
   margin-left: auto;
   width:83%;
   font-size: 40px;
   font-weight: 700;
   color: #000;
   font-family: tahoma;
   padding-right:10px;
 }

.Center2 {
    text-align:center;
}

.Center3 {
    margin: auto;
    width:8%;
    border:3px solid #000;
    padding:10px;
}

.Center3 {
    margin: auto;
    width:10%;
    border:3px solid #000;
    padding:10px;
}

.Center4 {
    margin-left: auto;
    width:55%;
    padding:0px;
    font-size: 50px;
    font-family:tahoma;
    font-weight:bold;
}

.SuperClass {
    margin-left: auto;
    width:30%;
    font-size: 40px;
    font-weight: bolder;
    color: #000;
}

.pstyle {
    padding-left:200px;
    font-family:tahoma;
    font-weight:100;
    letter-spacing:1.2px;
}

.alert {
  height:200px;
  padding-right:150px;
}

.alert:hover {
  cursor:context-menu;
}


body {
  background-color:#ddd;
}

.menuitemleft {
  padding-left:250px;
  font-size:17px;
  font-family:tahoma;
  font-weight:900;
  letter-spacing:0.4px;
  color:#111;
}

.menuitemleft-caption {
  padding-left:250px;
  font-size:13px;
  font-family:tahoma;
  letter-spacing:0.4px;
  color:#121212;
  padding-bottom:100px;
  opacity:70%;
}

.menutitle {
  text-align:center;
  font-size:30px;
  font-family:tahoma;
}

.menutitle:hover {

}

/* SUPERMENU */
h1.supermenu {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 4vw;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg,
                    #7794ff,
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
  font-family:tahoma;
  font-style:italic;
  margin:auto;
  padding-left:500px;
}

h1.streetwiseopening {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 4vw;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg,
                    #7794ff,
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
  font-family:tahoma;
  font-style:italic;
  margin:auto;
  padding-left:500px;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}



/* end */
